<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @project.completed %>
</p>

<% if can? :manage, Project %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>

<%= link_to 'Back', projects_path %>
